.section-header {
  margin-bottom: 2rem;
  text-align: left;
}
.section-header.light{
  --title-color:#222;
  --description-color:#666;
}
.section-header.dark{
  --text-color:#ffffff;
  --description-color:#ffffff;

}
.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.2rem;
  font-weight: 700;
  position: relative;
  margin-bottom: 0.5rem;
  color: var(--title-color);
}

.section-title::after {
  content: '';
  display: block;
  width: 30%;
  height: 4px;
  background: #ff4757;
  border-radius: 2px;
  margin-top: 4px;
}

.section-description {
  font-size: 1.1rem;
  color: #666;
  margin-top: 0.5rem;
  max-width: 600px;
} 